<!DOCTYPE html>
<html lang="en">
<head>
        <%-include('include/header.ejs')%>
</head> 
<body class="bg-gray-900">
      <header class="bg-gray-900">
        <div class="container mx-auto px-4 py-16">
          <div class="text-center">
            <h1 class="text-4xl font-semibold text-white"><%=botName%></h1>
            <p class="mt-4 text-lg text-gray-300"><%=description%></p>
            <div class="mt-8">
              <a href="/invite" class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-3.5 text-center mr-2 mb-3">Botu Davet Et</a>
              <a href="/discord" class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-3.5 text-center mr-2 mb-3">Destek Sunucusuna Katıl</a>
            </div>
          </div>
        </div>
      </header>

<section class="bg-gray-900 py-20">
        <div class="container mx-auto px-4">
          <div class="flex flex-wrap justify-center">
            <div class="w-full md:w-1/3 p-4">
              <div class="bg-gray-800 rounded-lg shadow-lg p-6 duration-500 hover:scale-110">
                <p class="text-2xl font-semibold mb-2 text-white text-center">Moderasyon Sistemi</p>
                <p class="text-gray-700 text-white text-center"><%=botName%>, gelişmiş moderasyon özellikleri ile sunucunuzu güvende tutmanıza yardımcı olur. Kullanımı kolay arayüzü ve güçlü moderasyon komutları ile sunucunuzu yönetmek hiç bu kadar kolay olmamıştı.</p>
              </div>
            </div>
            <div class="w-full md:w-1/3 p-4">
                <div class="bg-gray-800 rounded-lg shadow-lg p-6 duration-500 hover:scale-110">
                  <p class="text-2xl font-semibold mb-2 text-white text-center">Kullanici Sistemi</p>
                  <p class="text-gray-700 text-white text-center"><%=botName%>, gelişmiş moderasyon özellikleri ile sunucunuzu güvende tutmanıza yardımcı olur. Kullanımı kolay arayüzü ve güçlü moderasyon komutları ile sunucunuzu yönetmek hiç bu kadar kolay olmamıştı.</p>
                </div>
              </div>
              <div class="w-full md:w-1/3 p-4">
                <div class="bg-gray-800 rounded-lg shadow-lg p-6 duration-500 hover:scale-110">
                  <p class="text-2xl font-semibold mb-2 text-white text-center">Kayıt Sistemi</p>
                  <p class="text-gray-700 text-white text-center"><%=botName%>, gelişmiş moderasyon özellikleri ile sunucunuzu güvende tutmanıza yardımcı olur. Kullanımı kolay arayüzü ve güçlü moderasyon komutları ile sunucunuzu yönetmek hiç bu kadar kolay olmamıştı.</p>
                </div>
              </div>
              <div class="w-full md:w-1/3 p-4">
                <div class="bg-gray-800 rounded-lg shadow-lg p-6 duration-500 hover:scale-110">
                  <p class="text-2xl font-semibold mb-2 text-white text-center">Eğlence Sistemi</p>
                  <p class="text-gray-700 text-white text-center"><%=botName%>, gelişmiş moderasyon özellikleri ile sunucunuzu güvende tutmanıza yardımcı olur. Kullanımı kolay arayüzü ve güçlü moderasyon komutları ile sunucunuzu yönetmek hiç bu kadar kolay olmamıştı.</p>
                </div>
              </div>
              <div class="w-full md:w-1/3 p-4">
                <div class="bg-gray-800 rounded-lg shadow-lg p-6 duration-500 hover:scale-110">
                  <p class="text-2xl font-semibold mb-2 text-white text-center">Abone Sistemi</p>
                  <p class="text-gray-700 text-white text-center"><%=botName%>, gelişmiş moderasyon özellikleri ile sunucunuzu güvende tutmanıza yardımcı olur. Kullanımı kolay arayüzü ve güçlü moderasyon komutları ile sunucunuzu yönetmek hiç bu kadar kolay olmamıştı.</p>
                </div>
              </div>
          </div>
        </div>
      </section>
      
                
</body>
</html>
